In [3]:
# Dependencies
import pandas as pd

In [6]:
# Load S&P 500 data
data = pd.read_csv('SP500.csv', index_col=0, parse_dates=True)
data

                    SP500
observation_date
2020-04-27        2878.48
2020-04-28        2863.39
2020-04-29        2939.51
2020-04-30        2912.43
2020-05-01        2830.71
...                   ...
2025-04-21        5158.20
2025-04-22        5287.76
2025-04-23        5375.86
2025-04-24        5484.77
2025-04-25        5525.21

[1257 rows x 1 columns]

## Invest 10 shares per day

In [23]:
# Invest 10 shares per day

shares_per_day = 10
total_shares = 0
total_cost = 0

for day in data.index:
    # Buy 10 shares at the day's closing price
    closing_price = data.loc[day].iloc[-1]
    total_shares += shares_per_day
    total_cost += shares_per_day * closing_price

# Calculate the average cost per share
average_cost = total_cost / total_shares

# Calculate the total value of the shares at the latest closing price
latest_price = data.iloc[-1]
total_value = (total_shares * latest_price).iloc[-1]

# Calculate the profit
profit = total_value - total_cost

# Print the results
print(f"Cost: ${total_cost:,.2f}")
print(f"Profit: ${profit:,.2f}, {profit / total_cost:.2%}")

Cost: $55,725,092.50
Profit: $13,726,797.20, 24.63%